/* Contenedor Principal */
.ot-form-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ot-title {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Formulario */
.ot-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-input[readonly] {
  background-color: #e9ecef;
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

/* Lista de Tareas */
.task-list-steps {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list-steps li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #333;
}

/* Botón de envío */
.submit-button {
  width: 40%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  font-weight: bold;
  background-color: #4CAF50;
}

.submit-button:hover {
  background-color: #45a049;
}
