<main>
    <section class="grid-container">

        <div class="card" routerLink="/edificio">Edificios</div>
        <div class="card" routerLink="/piso">Pisos</div>
        <div class="card" routerLink="/sector">Sectores</div>
        <div class="card" routerLink="/ubicacion">Ubicaciones</div>
        <div class="card" routerLink="/tipo-activo">Tipos de activos</div>
        <div class="card" routerLink="/tag">Activos</div>
        <div class="card" routerLink="/task">Tareas</div>
        <div class="card" routerLink="/task-type">Tipo de tareas</div>
        <div class="card" routerLink="/task-list">Listas de tareas</div>

    </section>
</main>