.logo {
  font-size: 24px;
  font-weight: bold;
}

.header {
  background-color: #8f9dad;
  padding: 20px;
  color: white;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;     /* Fondo del contenedor */
}

.login-content {
    background-color: #333333; /* Fondo del formulario */
    padding: 2rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);                  /* Ancho fijo del formulario */
}

.login-content h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;           /* Centrar el texto del título */
}

.login-field{
    margin-bottom: 1rem;
}

.login-field label {
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;             /* Espacio arriba y abajo */
}

.inputStyle {
    width: 100%;
    padding: 0.5rem;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 0.25rem;
}

.inputStyle::placeholder {
    color: #aaa;
}

.login-button{
    margin-top: 1.5rem;
}

.submitButton {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    border: none;
}

.message {
    margin-bottom: 1rem;
    color: #ff0000; /* Color rojo para mensajes de error */
    text-align: center;
}

.enabled {
    background-color: #ffffff;
    cursor: pointer;
}

.disabled {
    background-color: #808080;
    cursor: not-allowed;
}
